In [ ]:
#pip install stanza

In [ ]:
#stanza.download("zh-hans")

In [1]:
import stanza

nlp = stanza.Pipeline(lang='en', processors='tokenize,pos,lemma,depparse')
doc = nlp('Barack Obama was born in Hawaii')
print(*[f'id: {word.id}\tword: {word.text}\thead id: {word.head}\thead: {sent.words[word.head-1].text if word.head > 0 else "root"}\tdeprel: {word.deprel}' for sent in doc.sentences for word in sent.words], sep='\n')

2021-10-24 21:41:51 INFO: Loading these models for language: en (English):
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| pos       | combined |
| lemma     | combined |
| depparse  | combined |
========================

2021-10-24 21:41:51 INFO: Use device: cpu
2021-10-24 21:41:51 INFO: Loading: tokenize
2021-10-24 21:41:51 INFO: Loading: pos
2021-10-24 21:41:51 INFO: Loading: lemma
2021-10-24 21:41:52 INFO: Loading: depparse
2021-10-24 21:41:52 INFO: Done loading processors!

id: 1	word: Barack	head id: 4	head: born	deprel: nsubj:pass
id: 2	word: Obama	head id: 1	head: Barack	deprel: flat
id: 3	word: was	head id: 4	head: born	deprel: aux:pass
id: 4	word: born	head id: 0	head: root	deprel: root
id: 5	word: in	head id: 6	head: Hawaii	deprel: case
id: 6	word: Hawaii	head id: 4	head: born	deprel: obl

In [2]:
import pandas as pd
df = pd.DataFrame()

column_names = ['sentence id', 'word id', 'word', 'head id', 'head', 'deprel']
df = pd.DataFrame(columns = column_names)
  
df

Empty DataFrame
Columns: [sentence id, word id, word, head id, head, deprel]
Index: []

In [5]:
from nltk import tokenize
#file = open("cleaned_final.txt","r+")
file = open("wikitext-103/wiki.train.tokens","r+")
#file = open('cleaned_baidu_tieba.txt', "r")

#import re

#paragraph = u'\u70ed\u5e26\u98ce\u66b4\u5c1a\u5854\u5c14\u662f2001\u5e74\u5927\u897f\u6d0b\u98d3\u98ce\u5b63\u7684\u4e00\u573a\u57288\u6708\u7a7f\u8d8a\u4e86\u52a0\u52d2\u6bd4\u6d77\u7684\u5317\u5927\u897f\u6d0b\u70ed\u5e26\u6c14\u65cb\u3002\u5c1a\u5854\u5c14\u4e8e8\u670814\u65e5\u7531\u70ed\u5e26\u5927\u897f\u6d0b\u7684\u4e00\u80a1\u4e1c\u98ce\u6ce2\u53d1\u5c55\u800c\u6210\uff0c\u5176\u5b58\u5728\u7684\u5927\u90e8\u5206\u65f6\u95f4\u91cc\u90fd\u5728\u5feb\u901f\u5411\u897f\u79fb\u52a8\uff0c\u9000\u5316\u6210\u4e1c\u98ce\u6ce2\u540e\u7a7f\u8d8a\u4e86\u5411\u98ce\u7fa4\u5c9b\u3002'

# def zng(paragraph):
#     sents = []
#     for sent in re.findall(u'[^!?。\.\!\?]+[!?。\.\!\?]?', paragraph, flags=re.U):
#         sents.append(sent)
#     return sents

p = file.read()
tokenized = tokenize.sent_tokenize(p)
#tokenized = zng(p)

In [6]:
print(len(tokenized))

3864915

In [7]:
#sent_id = 0
for i in range(len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 100:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

     sentence id word id        word head id        head    deprel
0              0       1           =       4         III     punct
1              0       2    Valkyria       3  Chronicles  compound
2              0       3  Chronicles       4         III  compound
3              0       4         III       0        root      root
4              0       1           =       0        root      root
...          ...     ...         ...     ...         ...       ...
2809          99      19         @-@      22      charts  compound
2810          99      20    platform      22      charts  compound
2811          99      21       sales      22      charts  compound
2812          99      22      charts      14    platform      conj
2813          99      23           .      12      topped     punct

[2814 rows x 6 columns]

In [8]:
for i in range(100, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 200:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

     sentence id word id        word head id        head    deprel
0              0       1           =       4         III     punct
1              0       2    Valkyria       3  Chronicles  compound
2              0       3  Chronicles       4         III  compound
3              0       4         III       0        root      root
4              0       1           =       0        root      root
...          ...     ...         ...     ...         ...       ...
5837         199      18       south       6     located    advmod
5838         199      19        from      21        Rock      case
5839         199      20      Little      21        Rock  compound
5840         199      21        Rock      18       south       obl
5841         199      22           .       6     located     punct

[5842 rows x 6 columns]

In [9]:
for i in range(200, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 400:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
11555         399      13          or      16      States        cc
11556         399      14         the      16      States       det
11557         399      15      United      16      States  compound
11558         399      16      States      12      Europe      conj
11559         399      17           .       4       leave     punct

[11560 rows x 6 columns]

In [10]:
for i in range(400, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
18891         699       9       first      11     session      amod
18892         699      10   recording      11     session  compound
18893         699      11     session       3     written       obl
18894         699      12    together       3     written    advmod
18895         699      13           .       3     written     punct

[18896 rows x 6 columns]

In [11]:
for i in range(700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 1200:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id         word head id         head    deprel
0               0       1            =       4          III     punct
1               0       2     Valkyria       3   Chronicles  compound
2               0       3   Chronicles       4          III  compound
3               0       4          III       0         root      root
4               0       1            =       0         root      root
...           ...     ...          ...     ...          ...       ...
31622        1199       4  represented       0         root      root
31623        1199       5   disruption       4  represented       obj
31624        1199       6           to       7         maat      case
31625        1199       7         maat       4  represented       obl
31626        1199       8            .       4  represented     punct

[31627 rows x 6 columns]

In [12]:
for i in range(1200, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 1700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id         word head id         head    deprel
0               0       1            =       4          III     punct
1               0       2     Valkyria       3   Chronicles  compound
2               0       3   Chronicles       4          III  compound
3               0       4          III       0         root      root
4               0       1            =       0         root      root
...           ...     ...          ...     ...          ...       ...
44697        1699      34          per      35         hour      case
44698        1699      35         hour      32            £      nmod
44699        1699      36          for      37  microlights      case
44700        1699      37  microlights      32            £      nmod
44701        1699      38            .      12    estimated     punct

[44702 rows x 6 columns]

In [13]:
for i in range(1700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 1724:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id          word head id          head     deprel
0               0       1             =       4           III      punct
1               0       2      Valkyria       3    Chronicles   compound
2               0       3    Chronicles       4           III   compound
3               0       4           III       0          root       root
4               0       1             =       0          root       root
...           ...     ...           ...     ...           ...        ...
45451        1723      23            to      24  characterise       mark
45452        1723      24  characterise      22          used      xcomp
45453        1723      25           its      26       purpose  nmod:poss
45454        1723      26       purpose      24  characterise        obj
45455        1723      27             .       5          term      punct

[45456 rows x 6 columns]

In [14]:
for i in range(1724, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 2587:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
69248        2586       7     ordered       0        root      root
69249        2586       8          to       9      search      mark
69250        2586       9      search       7     ordered     xcomp
69251        2586      10         for      11        W.L.      case
69252        2586      11        W.L.       9      search       obl

[69253 rows x 6 columns]

In [15]:
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
69248        2586       7     ordered       0        root      root
69249        2586       8          to       9      search      mark
69250        2586       9      search       7     ordered     xcomp
69251        2586      10         for      11        W.L.      case
69252        2586      11        W.L.       9      search       obl

[69253 rows x 6 columns]

In [16]:
df.to_csv("retrained_dependency_parsed_eng_1.csv", index = False)

In [17]:
for i in range(2587, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 2700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
72103        2699      12         the      14        film       det
72104        2699      13    animated      14        film      amod
72105        2699      14        film      10       Night      conj
72106        2699      15    Megamind      14        film     appos
72107        2699      16           .       3    appeared     punct

[72108 rows x 6 columns]

In [18]:
df.to_csv("retrained_dependency_parsed_eng_2.csv", index = False)

In [19]:
df

      sentence id word id        word head id        head    deprel
0               0       1           =       4         III     punct
1               0       2    Valkyria       3  Chronicles  compound
2               0       3  Chronicles       4         III  compound
3               0       4         III       0        root      root
4               0       1           =       0        root      root
...           ...     ...         ...     ...         ...       ...
72103        2699      12         the      14        film       det
72104        2699      13    animated      14        film      amod
72105        2699      14        film      10       Night      conj
72106        2699      15    Megamind      14        film     appos
72107        2699      16           .       3    appeared     punct

[72108 rows x 6 columns]

In [20]:
for i in range(2700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 3700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id        word head id          head    deprel
0               0       1           =       4           III     punct
1               0       2    Valkyria       3    Chronicles  compound
2               0       3  Chronicles       4           III  compound
3               0       4         III       0          root      root
4               0       1           =       0          root      root
...           ...     ...         ...     ...           ...       ...
98066        3699      25         the      26         1980s       det
98067        3699      26       1980s      18  popularizing       obl
98068        3699      27         and      28         1990s        cc
98069        3699      28       1990s      26         1980s      conj
98070        3699      29           .       3           one     punct

[98071 rows x 6 columns]

In [21]:
df.to_csv("retrained_dependency_parsed_eng_3.csv", index = False)

In [22]:
for i in range(3700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 4700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head     deprel
0                0       1           =       4         III      punct
1                0       2    Valkyria       3  Chronicles   compound
2                0       3  Chronicles       4         III   compound
3                0       4         III       0        root       root
4                0       1           =       0        root       root
...            ...     ...         ...     ...         ...        ...
123864        4699      17     reflect       8      termed      advcl
123865        4699      18       their      20     purpose  nmod:poss
123866        4699      19        dual      20     purpose       amod
123867        4699      20     purpose      17     reflect        obj
123868        4699      21           .       8      termed      punct

[123869 rows x 6 columns]

In [23]:
df.to_csv("retrained_dependency_parsed_eng_4.csv", index = False)

In [24]:
for i in range(4700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
181534        6699      20        that      22      baboon       det
181535        6699      21   whiskered      22      baboon      amod
181536        6699      22      baboon      16   lambasted       obl
181537        6699      23           "      22      baboon     punct
181538        6699      24           .       4     entered     punct

[181539 rows x 6 columns]

In [25]:
df.to_csv("retrained_dependency_parsed_eng_5.csv", index = False)

In [26]:
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
181534        6699      20        that      22      baboon       det
181535        6699      21   whiskered      22      baboon      amod
181536        6699      22      baboon      16   lambasted       obl
181537        6699      23           "      22      baboon     punct
181538        6699      24           .       4     entered     punct

[181539 rows x 6 columns]

In [27]:
for i in range(6700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id           word head id           head    deprel
0                0       1              =       4            III     punct
1                0       2       Valkyria       3     Chronicles  compound
2                0       3     Chronicles       4            III  compound
3                0       4            III       0           root      root
4                0       1              =       0           root      root
...            ...     ...            ...     ...            ...       ...
233247        8699      11             of      14  abnormalities      case
233248        8699      12    unfavorable      14  abnormalities      amod
233249        8699      13    cytogenetic      14  abnormalities      amod
233250        8699      14  abnormalities      10           rate      nmod
233251        8699      15              .       6     associated     punct

[233252 rows x 6 columns]

In [28]:
df

       sentence id word id           word head id           head    deprel
0                0       1              =       4            III     punct
1                0       2       Valkyria       3     Chronicles  compound
2                0       3     Chronicles       4            III  compound
3                0       4            III       0           root      root
4                0       1              =       0           root      root
...            ...     ...            ...     ...            ...       ...
233247        8699      11             of      14  abnormalities      case
233248        8699      12    unfavorable      14  abnormalities      amod
233249        8699      13    cytogenetic      14  abnormalities      amod
233250        8699      14  abnormalities      10           rate      nmod
233251        8699      15              .       6     associated     punct

[233252 rows x 6 columns]

In [29]:
for i in range(8700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
284334       10699       8      papers       6   published       obj
284335       10699       9          on      11     subject      case
284336       10699      10         the      11     subject       det
284337       10699      11     subject       6   published       obl
284338       10699      12           .       6   published     punct

[284339 rows x 6 columns]

In [30]:
for i in range(10700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 12700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head     deprel
0                0       1           =       4         III      punct
1                0       2    Valkyria       3  Chronicles   compound
2                0       3  Chronicles       4         III   compound
3                0       4         III       0        root       root
4                0       1           =       0        root       root
...            ...     ...         ...     ...         ...        ...
337157       12698      24    improved       5       truth  parataxis
337158       12698      25           .       5       truth      punct
337159       12698       1           "       0        root       root
337160       12699       1          13       0        root       root
337161       12699       2           .       1          13      punct

[337162 rows x 6 columns]

In [31]:
df.to_csv("retrained_dependency_parsed_eng_6.csv", index = False)

In [32]:
for i in range(12700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 14700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
390552       14699      35        date      31     delayed       obl
390553       14699      36          of      37   September      case
390554       14699      37   September      35        date      nmod
390555       14699      38        2008      37   September    nummod
390556       14699      39           .       4     drilled     punct

[390557 rows x 6 columns]

In [33]:
df.to_csv("retrained_dependency_parsed_eng_7.csv", index = False)

In [34]:
for i in range(14700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 16700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
444708       16699      29   donations      25        send       obj
444709       16699      30          by      32    messages      case
444710       16699      31        text      32    messages  compound
444711       16699      32    messages      25        send       obl
444712       16699      33           .       5         set     punct

[444713 rows x 6 columns]

In [35]:
df.to_csv("retrained_dependency_parsed_eng_8.csv", index = False)

In [36]:
for i in range(16700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 18700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
497729       18699      46           ,      49  discounted     punct
497730       18699      47      should      49  discounted       aux
497731       18699      48          be      49  discounted  aux:pass
497732       18699      49  discounted      39     certain      conj
497733       18699      50           .      49  discounted     punct

[497734 rows x 6 columns]

In [37]:
df.to_csv("retrained_dependency_parsed_eng_9.csv", index = False)

In [38]:
for i in range(18700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 21000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
557715       20999      20           )      18         Joy     punct
557716       20999      21           ,      14    daughter     punct
557717       20999      22     attends       9       raise     advcl
557718       20999      23     college      22     attends       obj
557719       20999      24           .       7     chooses     punct

[557720 rows x 6 columns]

In [39]:
df.to_csv("retrained_dependency_parsed_eng_10.csv", index = False)

In [40]:
for i in range(21000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 24000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
639827       23999      35         and      36        2000        cc
639828       23999      36        2000      34        1998      conj
639829       23999      37           (      38         Fig     punct
639830       23999      38         Fig      34        1998     appos
639831       23999      39           .      10       added     punct

[639832 rows x 6 columns]

In [41]:
df.to_csv("retrained_dependency_parsed_eng_11.csv", index = False)

In [42]:
for i in range(24000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 27000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head     deprel
0                0       1           =       4         III      punct
1                0       2    Valkyria       3  Chronicles   compound
2                0       3  Chronicles       4         III   compound
3                0       4         III       0        root       root
4                0       1           =       0        root       root
...            ...     ...         ...     ...         ...        ...
719539       26999      17         our      19      heroes  nmod:poss
719540       26999      18       local      19      heroes       amod
719541       26999      19      heroes      15         one       nmod
719542       26999      20           "      15         one      punct
719543       26999      21           .      11   described      punct

[719544 rows x 6 columns]

In [43]:
df.to_csv("retrained_dependency_parsed_eng_12.csv", index = False)

In [44]:
for i in range(27000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 30000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head     deprel
0                0       1           =       4         III      punct
1                0       2    Valkyria       3  Chronicles   compound
2                0       3  Chronicles       4         III   compound
3                0       4         III       0        root       root
4                0       1           =       0        root       root
...            ...     ...         ...     ...         ...        ...
799874       29999      10         the      11        club        det
799875       29999      11        club      13   formation  nmod:poss
799876       29999      12          's      11        club       case
799877       29999      13   formation       3      played        obl
799878       29999      14           .       3      played      punct

[799879 rows x 6 columns]

In [45]:
df.to_csv("retrained_dependency_parsed_eng_13.csv", index = False)

In [46]:
for i in range(30000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 33000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id        word head id        head    deprel
0                0       1           =       4         III     punct
1                0       2    Valkyria       3  Chronicles  compound
2                0       3  Chronicles       4         III  compound
3                0       4         III       0        root      root
4                0       1           =       0        root      root
...            ...     ...         ...     ...         ...       ...
881042       32999      22     leading      21       doors       acl
881043       32999      23        into      25     battery      case
881044       32999      24         the      25     battery       det
881045       32999      25     battery      22     leading       obl
881046       32999      26           .       5     cleared     punct

[881047 rows x 6 columns]

In [47]:
df.to_csv("retrained_dependency_parsed_eng_14.csv", index = False)

In [10]:
for i in range(5400, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5500:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id  head  deprel
0            5200       1    该       2    楼层     det
1            5200       2   楼层      12     看   nsubj
2            5200       3   疑似      12     看   advcl
3            5200       4   违规      12     看   advcl
4            5200       5    已       9    隐藏  advmod
...           ...     ...  ...     ...   ...     ...
12384        5499       5   特效       6    制作   advcl
12385        5499       6   制作       0  root    root
12386        5499       7   短视       8   频制作    nmod
12387        5499       8  频制作       6    制作     obj
12388        5499       9    。       6    制作   punct

[12389 rows x 6 columns]

In [11]:
df.to_csv("dependency_parsed_chinese_8e.csv", index = False)

In [12]:
for i in range(5500, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5600:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id head  deprel
0            5200       1    该       2   楼层     det
1            5200       2   楼层      12    看   nsubj
2            5200       3   疑似      12    看   advcl
3            5200       4   违规      12    看   advcl
4            5200       5    已       9   隐藏  advmod
...           ...     ...  ...     ...  ...     ...
16639        5599      10    这      11    块     det
16640        5599      11    块      13   设计     clf
16641        5599      12   平面      13   设计    nmod
16642        5599      13   设计       8    作   appos
16643        5599      14    。       3   人物   punct

[16644 rows x 6 columns]

In [13]:
df.to_csv("dependency_parsed_chinese_8f.csv", index = False)

In [15]:
df

      sentence id word id word head id head  deprel
0            5200       1    该       2   楼层     det
1            5200       2   楼层      12    看   nsubj
2            5200       3   疑似      12    看   advcl
3            5200       4   违规      12    看   advcl
4            5200       5    已       9   隐藏  advmod
...           ...     ...  ...     ...  ...     ...
21031        5623      17   招聘      12    看   ccomp
21032        5623      18    一      19    级  nummod
21033        5623      19    级      20   代理    nmod
21034        5623      20   代理      17   招聘     obj
21035        5623      21    。      12    看   punct

[21036 rows x 6 columns]

In [ ]:
for i in range(5600, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5624:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [18]:
for i in range(5625, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id head     deprel
0            5200       1    该       2   楼层        det
1            5200       2   楼层      12    看      nsubj
2            5200       3   疑似      12    看      advcl
3            5200       4   违规      12    看      advcl
4            5200       5    已       9   隐藏     advmod
...           ...     ...  ...     ...  ...        ...
32402        5699      11   申请       7   联系      ccomp
32403        5699      12   进学      13   习群       amod
32404        5699      13   习群      11   申请        obj
32405        5699      14    啦      11   申请  discourse
32406        5699      15    .       7   联系      punct

[32407 rows x 6 columns]

In [19]:
df.to_csv("dependency_parsed_chinese_8g.csv", index = False)

In [20]:
for i in range(5700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5800:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id  head      deprel
0            5200       1    该       2    楼层         det
1            5200       2   楼层      12     看       nsubj
2            5200       3   疑似      12     看       advcl
3            5200       4   违规      12     看       advcl
4            5200       5    已       9    隐藏      advmod
...           ...     ...  ...     ...   ...         ...
36658        5799      11   都是      14     哈         cop
36659        5799      12   可以      14     哈         aux
36660        5799      13    的      12    可以  mark:relcl
36661        5799      14    哈       0  root        root
36662        5799      15    。      14     哈       punct

[36663 rows x 6 columns]

In [21]:
df.to_csv("dependency_parsed_chinese_8h.csv", index = False)

In [22]:
for i in range(5800, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 5900:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id  head  deprel
0            5200       1    该       2    楼层     det
1            5200       2   楼层      12     看   nsubj
2            5200       3   疑似      12     看   advcl
3            5200       4   违规      12     看   advcl
4            5200       5    已       9    隐藏  advmod
...           ...     ...  ...     ...   ...     ...
44750        5899       6    ，       9     休   punct
44751        5899       7   欲说       9     休   advcl
44752        5899       8    还       9     休    mark
44753        5899       9    休       0  root    root
44754        5899      10    。       9     休   punct

[44755 rows x 6 columns]

In [23]:
df.to_csv("dependency_parsed_chinese_8i.csv", index = False)

In [ ]:
for i in range(5900, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
df.to_csv("dependency_parsed_chinese_8j.csv", index = False)

In [7]:
df

      sentence id word id word head id  head deprel
0            6000       1    我      36    希望  nsubj
1            6000       2    是      12     员    cop
2            6000       3   北京       7    学院   nmod
3            6000       4   邮电       7    学院   nmod
4            6000       5   大学       7    学院   nmod
...           ...     ...  ...     ...   ...    ...
23123        6270      10    此      11    楼查    det
23124        6270      11   楼查       9    隐藏    obj
23125        6270      12    看       0  root   root
23126        6270      13   此楼      12     看    obj
23127        6270      14    。      12     看  punct

[23128 rows x 6 columns]

In [10]:
tokenized[6272]

' 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼景色和人们的生活无关 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼你们清华没有自己的吧吗 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼答应我，以后别run好嘛，跟我们一起996～ 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼 该楼层疑似违规已被系统折叠\xa0隐藏此楼查看此楼在?'

In [ ]:
for i in range(6000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6271:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [11]:
for i in range(6272, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6300:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id head     deprel
0            6000       1    我      36   希望      nsubj
1            6000       2    是      12    员        cop
2            6000       3   北京       7   学院       nmod
3            6000       4   邮电       7   学院       nmod
4            6000       5   大学       7   学院       nmod
...           ...     ...  ...     ...  ...        ...
25750        6299     148   楼查     146   隐藏        obj
25751        6299     149    看      88   好嘛  parataxis
25752        6299     150   此楼     151    在      nsubj
25753        6299     151    在     149    看       mark
25754        6299     152    ?      88   好嘛      punct

[25755 rows x 6 columns]

In [12]:
df.to_csv("dependency_parsed_chinese_9.csv", index = False)

In [14]:
df

      sentence id word id word head id  head  deprel
0            6000       1    我      36    希望   nsubj
1            6000       2    是      12     员     cop
2            6000       3   北京       7    学院    nmod
3            6000       4   邮电       7    学院    nmod
4            6000       5   大学       7    学院    nmod
...           ...     ...  ...     ...   ...     ...
31839        6341       6    ，       8    塑造   punct
31840        6341       7   创新       8    塑造  advmod
31841        6341       8   塑造       0  root    root
31842        6341       9   未来       8    塑造     obj
31843        6341      10    。       8    塑造   punct

[31844 rows x 6 columns]

In [18]:
tokenized[6343]

'进入新时代，清华大学开启了一场使命驱动的改革。'

In [ ]:
for i in range(6300, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6342:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [20]:
df

      sentence id word id word head id  head  deprel
0            6000       1    我      36    希望   nsubj
1            6000       2    是      12     员     cop
2            6000       3   北京       7    学院    nmod
3            6000       4   邮电       7    学院    nmod
4            6000       5   大学       7    学院    nmod
...           ...     ...  ...     ...   ...     ...
32136        6352       6    ，       8    塑造   punct
32137        6352       7   创新       8    塑造  advmod
32138        6352       8   塑造       0  root    root
32139        6352       9   未来       8    塑造     obj
32140        6352      10    。       8    塑造   punct

[32141 rows x 6 columns]

In [ ]:
for i in range(6343, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6353:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [22]:
df

      sentence id word id word head id  head  deprel
0            6000       1    我      36    希望   nsubj
1            6000       2    是      12     员     cop
2            6000       3   北京       7    学院    nmod
3            6000       4   邮电       7    学院    nmod
4            6000       5   大学       7    学院    nmod
...           ...     ...  ...     ...   ...     ...
32433        6363       6    ，       8    塑造   punct
32434        6363       7   创新       8    塑造  advmod
32435        6363       8   塑造       0  root    root
32436        6363       9   未来       8    塑造     obj
32437        6363      10    。       8    塑造   punct

[32438 rows x 6 columns]

In [24]:
tokenized[6365]

'进入新时代，清华大学开启了一场使命驱动的改革。'

In [ ]:
for i in range(6354, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6364:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [26]:
df

      sentence id word id word head id  head  deprel
0            6000       1    我      36    希望   nsubj
1            6000       2    是      12     员     cop
2            6000       3   北京       7    学院    nmod
3            6000       4   邮电       7    学院    nmod
4            6000       5   大学       7    学院    nmod
...           ...     ...  ...     ...   ...     ...
32730        6374       6    ，       8    塑造   punct
32731        6374       7   创新       8    塑造  advmod
32732        6374       8   塑造       0  root    root
32733        6374       9   未来       8    塑造     obj
32734        6374      10    。       8    塑造   punct

[32735 rows x 6 columns]

In [ ]:
for i in range(6365, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6375:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [27]:
for i in range(6376, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6600:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
58243        6599      53   同意      51    视  xcomp
58244        6599      54    此      56   内容    det
58245        6599      55   声明      56   内容   nmod
58246        6599      56   内容      53   同意    obj
58247        6599      57    。       2   声明  punct

[58248 rows x 6 columns]

In [28]:
df.to_csv("dependency_parsed_chinese_10.csv", index = False)

In [30]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
62394        6681      25    ，      26   人脉  punct
62395        6681      26   人脉      24   知识   conj
62396        6681      27    ，      28   学历  punct
62397        6681      28   学历      24   知识   conj
62398        6681      29    。       1    读  punct

[62399 rows x 6 columns]

In [ ]:
for i in range(6600, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6682:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [34]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
63728        6720      25    ，      26   人脉  punct
63729        6720      26   人脉      24   知识   conj
63730        6720      27    ，      28   学历  punct
63731        6720      28   学历      24   知识   conj
63732        6720      29    。       1    读  punct

[63733 rows x 6 columns]

In [ ]:
for i in range(6683, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6721:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [35]:
for i in range(6722, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 6900:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id  head deprel
0            6000       1    我      36    希望  nsubj
1            6000       2    是      12     员    cop
2            6000       3   北京       7    学院   nmod
3            6000       4   邮电       7    学院   nmod
4            6000       5   大学       7    学院   nmod
...           ...     ...  ...     ...   ...    ...
73931        6899       4    ，       5     乐  punct
73932        6899       5    乐       0  root   root
73933        6899       6    于       5     乐   mark
73934        6899       7   助人       5     乐  xcomp
73935        6899       8    。       5     乐  punct

[73936 rows x 6 columns]

In [36]:
df.to_csv("dependency_parsed_chinese_11.csv", index = False)

In [38]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
77621        7020      25    ，      26   人脉  punct
77622        7020      26   人脉      24   知识   conj
77623        7020      27    ，      28   学历  punct
77624        7020      28   学历      24   知识   conj
77625        7020      29    。       1    读  punct

[77626 rows x 6 columns]

In [ ]:
for i in range(6900, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7021:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [40]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
78955        7059      25    ，      26   人脉  punct
78956        7059      26   人脉      24   知识   conj
78957        7059      27    ，      28   学历  punct
78958        7059      28   学历      24   知识   conj
78959        7059      29    。       1    读  punct

[78960 rows x 6 columns]

In [ ]:
for i in range(7022, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7060:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [42]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
80289        7098      25    ，      26   人脉  punct
80290        7098      26   人脉      24   知识   conj
80291        7098      27    ，      28   学历  punct
80292        7098      28   学历      24   知识   conj
80293        7098      29    。       1    读  punct

[80294 rows x 6 columns]

In [ ]:
for i in range(7061, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7099:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [43]:
for i in range(7100, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7200:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

      sentence id word id word head id head      deprel
0            6000       1    我      36   希望       nsubj
1            6000       2    是      12    员         cop
2            6000       3   北京       7   学院        nmod
3            6000       4   邮电       7   学院        nmod
4            6000       5   大学       7   学院        nmod
...           ...     ...  ...     ...  ...         ...
88060        7199      12    ＋      13   了解      advmod
88061        7199      13   了解       6   工作  dislocated
88062        7199      14   入门      15   知识        nmod
88063        7199      15   知识      13   了解         obj
88064        7199      16    。       6   工作       punct

[88065 rows x 6 columns]

In [44]:
df.to_csv("dependency_parsed_chinese_12.csv", index = False)

In [46]:
df

      sentence id word id word head id head deprel
0            6000       1    我      36   希望  nsubj
1            6000       2    是      12    员    cop
2            6000       3   北京       7   学院   nmod
3            6000       4   邮电       7   学院   nmod
4            6000       5   大学       7   学院   nmod
...           ...     ...  ...     ...  ...    ...
99517        7362      25    ，      26   人脉  punct
99518        7362      26   人脉      24   知识   conj
99519        7362      27    ，      28   学历  punct
99520        7362      28   学历      24   知识   conj
99521        7362      29    。       1    读  punct

[99522 rows x 6 columns]

In [ ]:
for i in range(7200, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7363:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [48]:
df

       sentence id word id word head id head deprel
0             6000       1    我      36   希望  nsubj
1             6000       2    是      12    员    cop
2             6000       3   北京       7   学院   nmod
3             6000       4   邮电       7   学院   nmod
4             6000       5   大学       7   学院   nmod
...            ...     ...  ...     ...  ...    ...
100851        7401      25    ，      26   人脉  punct
100852        7401      26   人脉      24   知识   conj
100853        7401      27    ，      28   学历  punct
100854        7401      28   学历      24   知识   conj
100855        7401      29    。       1    读  punct

[100856 rows x 6 columns]

In [ ]:
for i in range(7364, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7402:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [49]:
for i in range(7403, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7500:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
106725        7499      23   三薪      21   双薪       conj
106726        7499      24    ，      26   减半      punct
106727        7499      25   兼职      26   减半      advcl
106728        7499      26   减半       8   提供  parataxis
106729        7499      27    。       8   提供      punct

[106730 rows x 6 columns]

In [50]:
df.to_csv("dependency_parsed_chinese_13.csv", index = False)

In [51]:
for i in range(7500, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 7800:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
119665        7799       3    ，       4     善  punct
119666        7799       4    善       0  root   root
119667        7799       5    于       4     善   mark
119668        7799       6   沟通       4     善  xcomp
119669        7799       7   3.       6    沟通    obj

[119670 rows x 6 columns]

In [52]:
df.to_csv("dependency_parsed_chinese_14.csv", index = False)

In [54]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133675        8049       6   可能       7    获得    aux
133676        8049       7   获得       0  root   root
133677        8049       8   重复       9    印记   nmod
133678        8049       9   印记       7    获得    obj
133679        8049      10    。       7    获得  punct

[133680 rows x 6 columns]

In [ ]:
for i in range(7800, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8050:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [56]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133722        8057       6   可能       7    获得    aux
133723        8057       7   获得       0  root   root
133724        8057       8   重复       9    印记   nmod
133725        8057       9   印记       7    获得    obj
133726        8057      10    。       7    获得  punct

[133727 rows x 6 columns]

In [ ]:
for i in range(8051, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8058:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [58]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133769        8065       6   可能       7    获得    aux
133770        8065       7   获得       0  root   root
133771        8065       8   重复       9    印记   nmod
133772        8065       9   印记       7    获得    obj
133773        8065      10    。       7    获得  punct

[133774 rows x 6 columns]

In [ ]:
for i in range(8059, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8066:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [60]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133816        8073       6   可能       7    获得    aux
133817        8073       7   获得       0  root   root
133818        8073       8   重复       9    印记   nmod
133819        8073       9   印记       7    获得    obj
133820        8073      10    。       7    获得  punct

[133821 rows x 6 columns]

In [ ]:
for i in range(8067, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8074:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [62]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133863        8081       6   可能       7    获得    aux
133864        8081       7   获得       0  root   root
133865        8081       8   重复       9    印记   nmod
133866        8081       9   印记       7    获得    obj
133867        8081      10    。       7    获得  punct

[133868 rows x 6 columns]

In [ ]:
for i in range(8075, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8082:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [64]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133910        8089       6   可能       7    获得    aux
133911        8089       7   获得       0  root   root
133912        8089       8   重复       9    印记   nmod
133913        8089       9   印记       7    获得    obj
133914        8089      10    。       7    获得  punct

[133915 rows x 6 columns]

In [ ]:
for i in range(8083, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8090:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [66]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133957        8097       6   可能       7    获得    aux
133958        8097       7   获得       0  root   root
133959        8097       8   重复       9    印记   nmod
133960        8097       9   印记       7    获得    obj
133961        8097      10    。       7    获得  punct

[133962 rows x 6 columns]

In [ ]:
for i in range(8091, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8098:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [67]:
for i in range(8099, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8100:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
133962        8099       1   参与       0  root   root
133963        8099       2   吧主       4    活动   nmod
133964        8099       3   学院       4    活动   nmod
133965        8099       4   活动       1    参与    obj
133966        8099       5    。       1    参与  punct

[133967 rows x 6 columns]

In [68]:
df.to_csv("dependency_parsed_chinese_15.csv", index = False)

In [70]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134004        8105       6   可能       7    获得    aux
134005        8105       7   获得       0  root   root
134006        8105       8   重复       9    印记   nmod
134007        8105       9   印记       7    获得    obj
134008        8105      10    。       7    获得  punct

[134009 rows x 6 columns]

In [ ]:
for i in range(8100, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8106:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [72]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134051        8113       6   可能       7    获得    aux
134052        8113       7   获得       0  root   root
134053        8113       8   重复       9    印记   nmod
134054        8113       9   印记       7    获得    obj
134055        8113      10    。       7    获得  punct

[134056 rows x 6 columns]

In [ ]:
for i in range(8107, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8114:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [74]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134098        8121       6   可能       7    获得    aux
134099        8121       7   获得       0  root   root
134100        8121       8   重复       9    印记   nmod
134101        8121       9   印记       7    获得    obj
134102        8121      10    。       7    获得  punct

[134103 rows x 6 columns]

In [ ]:
for i in range(8115, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8122:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [76]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134145        8129       6   可能       7    获得    aux
134146        8129       7   获得       0  root   root
134147        8129       8   重复       9    印记   nmod
134148        8129       9   印记       7    获得    obj
134149        8129      10    。       7    获得  punct

[134150 rows x 6 columns]

In [ ]:
for i in range(8123, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8130:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [78]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134192        8137       6   可能       7    获得    aux
134193        8137       7   获得       0  root   root
134194        8137       8   重复       9    印记   nmod
134195        8137       9   印记       7    获得    obj
134196        8137      10    。       7    获得  punct

[134197 rows x 6 columns]

In [ ]:
for i in range(8131, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8138:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [80]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134239        8145       6   可能       7    获得    aux
134240        8145       7   获得       0  root   root
134241        8145       8   重复       9    印记   nmod
134242        8145       9   印记       7    获得    obj
134243        8145      10    。       7    获得  punct

[134244 rows x 6 columns]

In [ ]:
for i in range(8139, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8146:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [82]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
134286        8153       6   可能       7    获得    aux
134287        8153       7   获得       0  root   root
134288        8153       8   重复       9    印记   nmod
134289        8153       9   印记       7    获得    obj
134290        8153      10    。       7    获得  punct

[134291 rows x 6 columns]

In [ ]:
for i in range(8147, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8154:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [84]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
142612        8239       2    ，       5    首选  punct
142613        8239       3    性       5    首选   nmod
142614        8239       4   价比       5    首选   nmod
142615        8239       5   首选       0  root   root
142616        8239       6    。       5    首选  punct

[142617 rows x 6 columns]

In [ ]:
for i in range(8155, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8240:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [85]:
for i in range(8241, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8400:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id  head     deprel
0             6000       1    我      36    希望      nsubj
1             6000       2    是      12     员        cop
2             6000       3   北京       7    学院       nmod
3             6000       4   邮电       7    学院       nmod
4             6000       5   大学       7    学院       nmod
...            ...     ...  ...     ...   ...        ...
146540        8398      18   房子      20    找好      nsubj
146541        8398      19    已      20    找好     advmod
146542        8398      20   找好       9    隐藏  parataxis
146543        8398      21    。       9    隐藏      punct
146544        8399       1   6.       0  root       root

[146545 rows x 6 columns]

In [86]:
df.to_csv("dependency_parsed_chinese_16.csv", index = False)

In [87]:
for i in range(8400, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
165647        8699      29   不得      30   泄露        aux
165648        8699      30   泄露       7   要签  parataxis
165649        8699      31   复试      32   内容       nmod
165650        8699      32   内容      30   泄露        obj
165651        8699      33    。       7   要签      punct

[165652 rows x 6 columns]

In [88]:
df.to_csv("dependency_parsed_chinese_17.csv", index = False)

In [90]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
179595        8977       2    ，       5    首选  punct
179596        8977       3    性       5    首选   nmod
179597        8977       4   价比       5    首选   nmod
179598        8977       5   首选       0  root   root
179599        8977       6    。       5    首选  punct

[179600 rows x 6 columns]

In [ ]:
for i in range(8700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8978:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [92]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
179690        8983       2    ，       5    首选  punct
179691        8983       3    性       5    首选   nmod
179692        8983       4   价比       5    首选   nmod
179693        8983       5   首选       0  root   root
179694        8983       6    。       5    首选  punct

[179695 rows x 6 columns]

In [ ]:
for i in range(8979, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 8984:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [93]:
for i in range(8985, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id  head    deprel
0             6000       1    我      36    希望     nsubj
1             6000       2    是      12     员       cop
2             6000       3   北京       7    学院      nmod
3             6000       4   邮电       7    学院      nmod
4             6000       5   大学       7    学院      nmod
...            ...     ...  ...     ...   ...       ...
180364        8999      17    的       6     日  case:dec
180365        8999      18   单间       0  root      root
180366        8999      19   或者      20    床位        cc
180367        8999      20   床位      18    单间      conj
180368        8999      21    。      18    单间     punct

[180369 rows x 6 columns]

In [94]:
df.to_csv("dependency_parsed_chinese_18.csv", index = False)

In [95]:
for i in range(9000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9100:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head deprel
0             6000       1    我      36   希望  nsubj
1             6000       2    是      12    员    cop
2             6000       3   北京       7   学院   nmod
3             6000       4   邮电       7   学院   nmod
4             6000       5   大学       7   学院   nmod
...            ...     ...  ...     ...  ...    ...
184628        9099      64   本人      66   校内   nmod
184629        9099      65    女      66   校内   nmod
184630        9099      66   校内      62    看    obj
184631        9099      67   实习      46    有  ccomp
184632        9099      68   7.      67   实习    obj

[184633 rows x 6 columns]

In [96]:
df.to_csv("dependency_parsed_chinese_19.csv", index = False)

In [97]:
for i in range(9100, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9250:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id         word head id         head deprel
0             6000       1            我      36           希望  nsubj
1             6000       2            是      12            员    cop
2             6000       3           北京       7           学院   nmod
3             6000       4           邮电       7           学院   nmod
4             6000       5           大学       7           学院   nmod
...            ...     ...          ...     ...          ...    ...
191075        9249       5  QQ736469281       4           联系    obj
191076        9249       6           或者       7           电话     cc
191077        9249       7           电话       5  QQ736469281   conj
191078        9249       8  13102151382       5  QQ736469281   conj
191079        9249       9            。       1            有  punct

[191080 rows x 6 columns]

In [98]:
df.to_csv("dependency_parsed_chinese_20.csv", index = False)

In [100]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194341        9347       1    务       2    必引   nmod
194342        9347       2   必引       3    以为  nsubj
194343        9347       3   以为       0  root   root
194344        9347       4    戒       3    以为    obj
194345        9347       5    。       3    以为  punct

[194346 rows x 6 columns]

In [ ]:
for i in range(9250, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9348:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [102]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194383        9353       1    务       2    必引   nmod
194384        9353       2   必引       3    以为  nsubj
194385        9353       3   以为       0  root   root
194386        9353       4    戒       3    以为    obj
194387        9353       5    。       3    以为  punct

[194388 rows x 6 columns]

In [ ]:
for i in range(9349, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9354:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [104]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194425        9359       1    务       2    必引   nmod
194426        9359       2   必引       3    以为  nsubj
194427        9359       3   以为       0  root   root
194428        9359       4    戒       3    以为    obj
194429        9359       5    。       3    以为  punct

[194430 rows x 6 columns]

In [ ]:
for i in range(9355, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9360:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [106]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194467        9365       1    务       2    必引   nmod
194468        9365       2   必引       3    以为  nsubj
194469        9365       3   以为       0  root   root
194470        9365       4    戒       3    以为    obj
194471        9365       5    。       3    以为  punct

[194472 rows x 6 columns]

In [ ]:
for i in range(9361, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9366:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [108]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194509        9371       1    务       2    必引   nmod
194510        9371       2   必引       3    以为  nsubj
194511        9371       3   以为       0  root   root
194512        9371       4    戒       3    以为    obj
194513        9371       5    。       3    以为  punct

[194514 rows x 6 columns]

In [ ]:
for i in range(9367, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9372:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [110]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194551        9377       1    务       2    必引   nmod
194552        9377       2   必引       3    以为  nsubj
194553        9377       3   以为       0  root   root
194554        9377       4    戒       3    以为    obj
194555        9377       5    。       3    以为  punct

[194556 rows x 6 columns]

In [ ]:
for i in range(9373, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9378:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [112]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194593        9383       1    务       2    必引   nmod
194594        9383       2   必引       3    以为  nsubj
194595        9383       3   以为       0  root   root
194596        9383       4    戒       3    以为    obj
194597        9383       5    。       3    以为  punct

[194598 rows x 6 columns]

In [ ]:
for i in range(9379, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9384:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [114]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194635        9389       1    务       2    必引   nmod
194636        9389       2   必引       3    以为  nsubj
194637        9389       3   以为       0  root   root
194638        9389       4    戒       3    以为    obj
194639        9389       5    。       3    以为  punct

[194640 rows x 6 columns]

In [ ]:
for i in range(9385, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9390:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [116]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194677        9395       1    务       2    必引   nmod
194678        9395       2   必引       3    以为  nsubj
194679        9395       3   以为       0  root   root
194680        9395       4    戒       3    以为    obj
194681        9395       5    。       3    以为  punct

[194682 rows x 6 columns]

In [ ]:
for i in range(9391, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9396:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [117]:
for i in range(9397, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9400:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head    deprel
0             6000       1    我      36   希望     nsubj
1             6000       2    是      12    员       cop
2             6000       3   北京       7   学院      nmod
3             6000       4   邮电       7   学院      nmod
4             6000       5   大学       7   学院      nmod
...            ...     ...  ...     ...  ...       ...
194705        9399       3   代写       6    方      nmod
194706        9399       4   服务       6    方      nmod
194707        9399       5   提供       6    方  compound
194708        9399       6    方       2    是       obj
194709        9399       7    。       2    是     punct

[194710 rows x 6 columns]

In [118]:
df.to_csv("dependency_parsed_chinese_21.csv", index = False)

In [121]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194719        9401       1    务       2    必引   nmod
194720        9401       2   必引       3    以为  nsubj
194721        9401       3   以为       0  root   root
194722        9401       4    戒       3    以为    obj
194723        9401       5    。       3    以为  punct

[194724 rows x 6 columns]

In [ ]:
for i in range(9400, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9402:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [123]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194761        9407       1    务       2    必引   nmod
194762        9407       2   必引       3    以为  nsubj
194763        9407       3   以为       0  root   root
194764        9407       4    戒       3    以为    obj
194765        9407       5    。       3    以为  punct

[194766 rows x 6 columns]

In [ ]:
for i in range(9403, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9408:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [125]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194803        9413       1    务       2    必引   nmod
194804        9413       2   必引       3    以为  nsubj
194805        9413       3   以为       0  root   root
194806        9413       4    戒       3    以为    obj
194807        9413       5    。       3    以为  punct

[194808 rows x 6 columns]

In [ ]:
for i in range(9409, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9414:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [133]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194845        9419       1    务       2    必引   nmod
194846        9419       2   必引       3    以为  nsubj
194847        9419       3   以为       0  root   root
194848        9419       4    戒       3    以为    obj
194849        9419       5    。       3    以为  punct

[194850 rows x 6 columns]

In [ ]:
for i in range(9415, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9420:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [135]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
194887        9425       1    务       2    必引   nmod
194888        9425       2   必引       3    以为  nsubj
194889        9425       3   以为       0  root   root
194890        9425       4    戒       3    以为    obj
194891        9425       5    。       3    以为  punct

[194892 rows x 6 columns]

In [ ]:
for i in range(9421, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9426:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [136]:
for i in range(9427, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9550:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head deprel
0             6000       1    我      36   希望  nsubj
1             6000       2    是      12    员    cop
2             6000       3   北京       7   学院   nmod
3             6000       4   邮电       7   学院   nmod
4             6000       5   大学       7   学院   nmod
...            ...     ...  ...     ...  ...    ...
207098        9549      63   旁边      66   小区   nmod
207099        9549      64    王      66   小区   nmod
207100        9549      65   宫坟      66   小区   nmod
207101        9549      66   小区      60   研究    obj
207102        9549      67    。       1   谢谢  punct

[207103 rows x 6 columns]

In [120]:
df.to_csv("dependency_parsed_chinese_22.csv", index = False)

In [137]:
for i in range(9550, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9700:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id       word head id  head  deprel
0             6000       1          我      36    希望   nsubj
1             6000       2          是      12     员     cop
2             6000       3         北京       7    学院    nmod
3             6000       4         邮电       7    学院    nmod
4             6000       5         大学       7    学院    nmod
...            ...     ...        ...     ...   ...     ...
211777        9699       1         微信       4    谢谢   nsubj
211778        9699       2          y       4    谢谢   nsubj
211779        9699       3  506423442       4    谢谢  advmod
211780        9699       4         谢谢       0  root    root
211781        9699       5          。       4    谢谢   punct

[211782 rows x 6 columns]

In [138]:
df.to_csv("dependency_parsed_chinese_23.csv", index = False)

In [139]:
for i in range(9700, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 9850:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
220552        9849       4    ，       3   距离      punct
220553        9849       5   年龄       7   问题      nsubj
220554        9849       6   不是       7   问题        cop
220555        9849       7   问题       3   距离  parataxis
220556        9849       8    。       3   距离      punct

[220557 rows x 6 columns]

In [140]:
df.to_csv("dependency_parsed_chinese_24.csv", index = False)

In [141]:
for i in range(9850, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
223824        9999       7   房源       2     有    obj
223825        9999       8    ，      10    私聊  punct
223826        9999       9   可以      10    私聊    aux
223827        9999      10   私聊       0  root   root
223828        9999      11    。      10    私聊  punct

[223829 rows x 6 columns]

In [142]:
df.to_csv("dependency_parsed_chinese_25.csv", index = False)

In [144]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
230184       10287       7   房源       2     有    obj
230185       10287       8    ，      10    私聊  punct
230186       10287       9   可以      10    私聊    aux
230187       10287      10   私聊       0  root   root
230188       10287      11    。      10    私聊  punct

[230189 rows x 6 columns]

In [ ]:
for i in range(10000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10288:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [146]:
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
230309       10296      61   网络      62   方式       nmod
230310       10296      62   方式      63   上课        obl
230311       10296      63   上课       5   考研  parataxis
230312       10296      64    吗      63   上课  discourse
230313       10296      65    ?       5   考研      punct

[230314 rows x 6 columns]

In [ ]:
for i in range(10289, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10297:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [148]:
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
250596       10389     598   如今     600   形同  nmod:tmod
250597       10389     599   我们     600   形同      nsubj
250598       10389     600   形同     564    看      ccomp
250599       10389     601   陌路     600   形同        obj
250600       10389     602    。      14    是      punct

[250601 rows x 6 columns]

In [ ]:
for i in range(10298, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10390:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [150]:
df

       sentence id word id word head id  head deprel
0             6000       1    我      36    希望  nsubj
1             6000       2    是      12     员    cop
2             6000       3   北京       7    学院   nmod
3             6000       4   邮电       7    学院   nmod
4             6000       5   大学       7    学院   nmod
...            ...     ...  ...     ...   ...    ...
251185       10407       2    ，       5    首选  punct
251186       10407       3    性       5    首选   nmod
251187       10407       4   价比       5    首选   nmod
251188       10407       5   首选       0  root   root
251189       10407       6    。       5    首选  punct

[251190 rows x 6 columns]

In [ ]:
for i in range(10391, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10408:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [152]:
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
261835       10544     100   熟练     101   掌握     advmod
261836       10544     101   掌握       2   要求  parataxis
261837       10544     102   办公     103   软件       nmod
261838       10544     103   软件     101   掌握        obj
261839       10544     104    。       2   要求      punct

[261840 rows x 6 columns]

In [ ]:
for i in range(10409, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10545:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [154]:
df

       sentence id word id word head id head deprel
0             6000       1    我      36   希望  nsubj
1             6000       2    是      12    员    cop
2             6000       3   北京       7   学院   nmod
3             6000       4   邮电       7   学院   nmod
4             6000       5   大学       7   学院   nmod
...            ...     ...  ...     ...  ...    ...
267088       10574     223    此     224   楼查    det
267089       10574     224   楼查     222   隐藏    obj
267090       10574     225    看       1    望  ccomp
267091       10574     226   此楼     227  挤挤.  nsubj
267092       10574     227  挤挤.     225    看  xcomp

[267093 rows x 6 columns]

In [ ]:
for i in range(10546, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10575:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [156]:
df

       sentence id word id word head id head    deprel
0             6000       1    我      36   希望     nsubj
1             6000       2    是      12    员       cop
2             6000       3   北京       7   学院      nmod
3             6000       4   邮电       7   学院      nmod
4             6000       5   大学       7   学院      nmod
...            ...     ...  ...     ...  ...       ...
291992       10837     109    此     110    楼       det
291993       10837     110    楼     111    学  compound
291994       10837     111    学     112    长  compound
291995       10837     112    长     108    看       obj
291996       10837     113    .     108    看       obj

[291997 rows x 6 columns]

In [ ]:
for i in range(10576, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10838:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [158]:
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
293584       10870      26   某些      27   人闭        det
293585       10870      27   人闭      28    嘴      nsubj
293586       10870      28    嘴      25    让      ccomp
293587       10870      29    了      25    让  discourse
293588       10870      30    。      25    让      punct

[293589 rows x 6 columns]

In [ ]:
for i in range(10839, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 10871:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [159]:
for i in range(10872, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < len(tokenized):
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

       sentence id word id word head id head     deprel
0             6000       1    我      36   希望      nsubj
1             6000       2    是      12    员        cop
2             6000       3   北京       7   学院       nmod
3             6000       4   邮电       7   学院       nmod
4             6000       5   大学       7   学院       nmod
...            ...     ...  ...     ...  ...        ...
293584       10870      26   某些      27   人闭        det
293585       10870      27   人闭      28    嘴      nsubj
293586       10870      28    嘴      25    让      ccomp
293587       10870      29    了      25    让  discourse
293588       10870      30    。      25    让      punct

[293589 rows x 6 columns]

In [160]:
df.to_csv("dependency_parsed_chinese_26.csv", index = False)

In [ ]:
for i in range(11000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 13000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
df

In [ ]:
for i in range(14703, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 16000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(16000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 19000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(19000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 22000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(22000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 25000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(25000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 30000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(30000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 40000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(40000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 50000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
df

In [ ]:
for i in range(46876, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 50000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(50000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 60000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(60000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 70000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(70000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 80000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(80000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 90000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
df

In [ ]:
for i in range(87276, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 90000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(90000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 100000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(96337, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    if i < 100000:
        doc = nlp(str(sentence))
        for sent in doc.sentences:
            for word in sent.words:
                row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
                df = df.append(row, ignore_index = True)
    
df

In [ ]:
for i in range(100000, len(tokenized)): #sentence in tokenized:
    sentence = tokenized[i]
    doc = nlp(str(sentence))
    for sent in doc.sentences:
        for word in sent.words:
            row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}
            df = df.append(row, ignore_index = True)
    
df

In [ ]:
df.to_csv("dependency_parsed_english.csv", index = False)

In [ ]:
#if this works, then need to pull out the word and its head and its label, and do trigram estimation on them
#one on each line

In [ ]:
cs_data = pd.read_csv("governer_and_preceding_words_extracted.csv")

In [ ]:
cs_data.head()

In [ ]:
cs_sentences = []
for index, row in cs_data.iterrows():
    cs_sentences.append(row['first_cs_word_form'])
    
labels = []
for i in range(len(cs_sentences)):
    sentence = cs_sentences[i]
    doc = nlp(str(sentence))
    for sent in doc.sentences:
        for word in sent.words:
            label = word.deprel
            labels.append(label)
print(labels[:10])

In [ ]:
print(cs_sentences[0])

In [ ]:
doc = nlp(str(sentence))
    for sent in doc.sentences:
        for word in sent.words:
            row = {'sentence id' : i, 'word id': word.id, 'word': word.text, 'head id': word.head, 'head': sent.words[word.head-1].text if word.head > 0 else "root", 'deprel': word.deprel}